html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0a0a0a;
}

.container {
    width: fit-content;
    margin: 20px auto;
}

#game {
    display: block;
    border: 2px solid #333;
}
